.forecast-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  height: 100%;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    transform: translateY(-3px);
  }
}

.forecast-main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;

  .forecast-temp {
    h2 {
      font-size: 1.75rem;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .forecast-icon {
    text-align: center;

    img {
      margin-bottom: 0.3rem;
    }

    p {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
  }
}

.forecast-details {
  font-size: 0.875rem;
  margin-top: 0.75rem;

  p {
    font-weight: 500;
    margin-bottom: 0;
  }
}
