.weather-card {
  background-color: #e6f2f7; // нежно-голубой фон всей карточки
  border-radius: 12px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
  padding: 1rem;
}

.weather-details {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  margin-top: 1rem;
}

.card-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.detail-item {
  align-items: center;
  background-color: #f4faff; // светло-синий/голубоватый
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0.2rem;
  text-align: center;
  transition: background-color 0.3s ease;

  div {
    span {
      display: block;
      font-size: 0.85rem;
    }
  }

  p {
    font-weight: 500;
  }
}

.icon-humidity {
  color: #39f;
}

.icon-wind {
  color: #00b8d9;
}

.icon-pressure {
  color: #5e72e4;
}

.icon-visibility {
  color: #66c2ff;
}

.weather-main {
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  padding-bottom: 1rem;

  .temperature {
    text-align: center;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 0.3rem;
    }

    p {
      color: #6c757d;
      margin-bottom: 0;
    }
  }

  .weather-icon {
    text-align: center;

    img {
      margin-bottom: 0.3rem;
    }

    p {
      color: #343a40;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}

@media (width <= 576px) {
  .weather-main {
    flex-direction: column;

    .temperature,
    .weather-icon {
      margin-bottom: 1rem;
    }
  }
}
